@model RFKBackend.Shared.DataContracts.ReportCollection

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Report Name
        </th>
    </tr>

    @foreach (var item in Model.Reports)
    {
        <tr>
            <td>
                @Html.ActionLink($"{item.ReportName} - {item.Year}", item.ReportType.ToString(), new { year = item.Year })
            </td>
        </tr>
    }

</table>
